--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
gunicorn
python-dotenv
pydantic
langchain
langchain-core
langchain-groq
langchain-pinecone
langchain-huggingface
langchain-classic
langchain_community
pinecone-client
youtube-transcript-api
torch
