fastapi
starlette
uvicorn
gunicorn
python-dotenv
pydantic
pydantic-settings

langchain
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-pinecone
langchain-text-splitters

pinecone
pinecone-client

groq
openai
tiktoken

huggingface_hub

numpy
pandas
scikit-learn
scipy

youtube-transcript-api
yt-dlp
requests
httpx
tenacity